@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import "tailwindcss";
 @plugin "tailwindcss-debug-screens";


@theme {
  --font-nunito-sans: "Nunito San", Arial, Helvetica, sans-serif;
  --color-nav: #1A1E89;
  --color-btn-fill: #00DBBC;
  --color-btn-fill-text: #0A1861;
}

:root {
  --nav-section: 75px;
  --md-nav-section: 24px;
}

body {
  font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
  color: #071828;
}


